// Import all partials
@require './_*.styl'
html
  height 100%

body
  height 100%
  background-color lightgray
  margin 0 0 0 0
  font-size: 11pt;


data-reactroot
  height 100% !important

#main
  height 100%
  >:first-child
    height 100%

header
  height 42px
  top 0
  width 100%
  background-color #f7f7f7
  border-bottom 1px solid lightgray
  padding 5px 5px 5px 5px
  position fixed


footer
  height 42px
  width 100%
  background-color #f7f7f7
  border-top 1px solid lightgray
  position fixed
  bottom 0

#middle
  position fixed
  top 42px
  height 100%
  width 100%
  overflow hidden

#left
  float left
  height 100%
  background-color white
  min-width 200px
  width 25%
  overflow scroll
  border-right 1.5px solid #8a8b8c

#right
  height 100%
  background-color white

#graph
  width 100%
  background-color #ffffff
  height 60%
  min-height 150px

#pandas
  border-top 1.5px solid #8a8b8c
  width 100%
  height 100%
  background-color white

#search-field
  width 25%
  border 1px solid lightgray
  border-radius 4px
  margin-left 10px
  padding 5px 10px 5px 10px
  margin-top: 2px
  font-size: .9em

#result-description
  min-height 1em
  text-align center
  font-weight bold
  padding 5px 5px 5px 5px
  border-bottom 1.5px solid #8a8b8c
  background-color white

#result-hide-add
  position absolute
  bottom 0
  width 100%
  height 42px
  padding-top 5px
  padding-bottom 5px
  background-color #d4d4d4

.table-block
  margin-top .5em
  bottom-border 1px solid

.source
  font-weight bold
  padding 5px 4px 5px 2px

.title:nth-child(odd):not(:first-child)
  background-color white

.name
  text-align left

.title
  border-bottom .5px solid #8a8b8c

.field
  cursor pointer
  padding 2px 5px 2px 8px
  border-bottom 1px solid #ccced1

.score
  float right
  border-bottom 0px

.source-menu-title
  text-align center
  font-weight bold
  margin-bottom: 5px

.field-menu-title
  text-align left
  font-weight normal
  border-top: 1px solid #ccc;
  padding: 3px 5px 3px 5px

.edge-menu-title
  text-align left
  font-weight normal
  list-style-type none
  padding 3px 5px 3px 5px
  border-bottom 1px solid gray

.box {
   display inline-block;
   background #f2f2f2;
   margin 20px 5px 5px 0px
   border 1px solid black
   padding 5px 5px 5px 5px
   color black;
}

#edge-box {
  color gray
  background-color white
  border 1px solid gray
  position relative
  left 275px
  width 120px
}

#relbox {
   position relative
   top 20px
   left 20px
}

#triangle
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  position: relative
  left 225px

.display-none {
  display none
}