// Import all partials
@require './_*.styl'
html
  height 100%

body
  height 100%
  background-color lightgray
  margin 0 0 0 0
  font-size: 11pt;


data-reactroot
  height 100% !important

#main
  height 100%
  >:first-child
    height 100%

header
  height 42px
  top 0
  width 100%
  background-color gray
  padding 5px 5px 5px 5px
  position fixed


footer
  height 42px
  width 100%
  background-color gray
  position fixed
  bottom 0

#middle
  position fixed
  top 42px
  height 100%
  width 100%
  overflow hidden

#left
  float left
  height 100%
  background-color lavender
  min-width 200px
  width 40%
  overflow scroll

#graph
  width 100%
  background-color yellow
  height 60%
  min-height 150px

#pandas
  width 100%
  height 100%
  background-color tan

#search-field
  width 25%
  border 1px solid gray
  border-radius 4px
  margin-left 10px
  padding 5px 10px 5px 10px
  font-size: .7em

#result-hide-add
  position absolute
  bottom 0
  width 100%
  height 42px
  padding-top 5px
  padding-bottom 5px
  background-color #d4d4d4

.table-block
  margin-top .5em
  bottom-border 1px solid

.field
  cursor pointer

.source
  font-weight bold
  cursor pointer

.title:nth-child(odd):not(:first-child)
  background-color white

.name
  text-align left

.score
  float right
