// Import all partials
@require './_*.styl'
html
  height 100%

body
  height 100%
  background-color lightgray
  margin 0 0 0 0
  font-size: 11pt;

data-reactroot
  height 100% !important

#main
  height 100%
  >:first-child
    height 100%

.aurum
  display flex
  flex-direction column
  width 100%
  height 100%

header
  height 42px
  max-height 42px
  background-color #f7f7f7
  border-bottom 1px solid lightgray
  padding 5px 5px 5px 5px

footer
  height 42px
  max-height 42px
  background-color #f7f7f7
  border-top 1px solid lightgray

#middle
  flex 2 100%
  display flex
  flex-direction row
  width 100%

#left
  flex 1 1 auto
  max-width 300px
  overflow-y auto
  background-color white

#right
  display flex
  flex-direction column
  flex 1
  overflow hidden
  background-color white

#graph
  flex 1
  width 100%
  background-color #ffffff
  min-height 150px
  display flex
  flex-direction column
  >div:first-of-type
    flex 1
    position relative

#pandas
  flex 1
  overflow auto
  // width 100%
  // height 100%
  background-color white

.horizontal-drag-handle
  height 100%
  width 5px
  background-color #eee
  border-right 1px solid #bbb
  float right

.vertical-drag-handle
  height 5px
  width 100%
  background-color #eee
  border-bottom 1px solid #bbb

#search-field
  width 25%
  border 1px solid lightgray
  border-radius 4px
  margin-left 10px
  padding 5px 10px 5px 10px
  margin-top: 2px
  font-size: .9em

#result-description
  min-height 1em
  text-align center
  font-weight bold
  padding 5px 5px 5px 5px
  border-bottom 1.5px solid #8a8b8c
  background-color white

#result-hide-add
  position absolute
  bottom 0
  width 100%
  height 42px
  padding-top 5px
  padding-bottom 5px
  background-color #d4d4d4

.table-block
  margin-top .5em
  bottom-border 1px solid

.source
  font-weight bold
  padding 5px 4px 5px 2px

.title:nth-child(odd):not(:first-child)
  background-color white

.name
  text-align left

.title
  border-bottom .5px solid #8a8b8c

.field
  cursor pointer
  padding 2px 5px 2px 8px
  border-bottom 1px solid #ccced1

.score
  float right
  border-bottom 0px

.source-menu-title
  text-align center
  font-weight bold
  margin-bottom: 5px
  cursor pointer

.field-menu-title
  text-align left
  font-weight normal
  border-top: 1px solid #ccc;
  padding: 3px 0px 3px 0px
  cursor pointer

.edge-menu-name
  text-align center
  font-weight bold
  padding 3px 5px 3px 5px
  color slategray

.edge-menu-title
  cursor pointer
  text-align left
  font-weight normal
  list-style-type none
  padding 3px 5px 3px 5px
  border-top 1px solid gray

#edge-menu {
  color gray
  position absolute
  border 1px solid gray
  margin 20px 5px 5px 10px
  display inline-block
  background white
  z-index 99
}

#source-menu
  display inline-block
  background #f2f2f2
  margin 20px 5px 5px 0px
  border 1px solid black
  padding 5px 5px 5px 5px
  color black
  position absolute
  z-index 99

#triangle
  width: 0
  height: 0
  border-left: 15px solid transparent
  border-right: 15px solid transparent
  border-top: 15px solid #000
  display inline-block
  position relative
  left 20px
  cursor pointer

.display-none
  display none

#purple
  background-color purple

#pandas-table
  border-spacing 2px
  border-collapse collapse
  cell-spacing 1em
  font-family 'Helvetica Neue', Helvetica, 'RobotoDraft', 'Roboto', 'Arial', sans-serif
  white-space nowrap

th, td
  text-align left
  max-width 10em
  overflow hidden
  text-overflow ellipsis
  padding 0 0.4em
  line-height 2em

#pandas-table-head
  text-align left
  color #757575
  font-style normal
  font-size 1.1em
  font-weight 200

.pandas-row:nth-child(odd)
  background-color #e1f5fe

.pandas-row
  height 1.6em

.pandas-cell
  color #212121

.align-right
  float: right