.DS_Store
.ipynb_checkpoints/
*.ipynb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea

# vim swap files
*.swp

# java related stuff
ddprofiler/.classpath
# ddprofiler/.gitignore
ddprofiler/.gradle/
ddprofiler/.project
ddprofiler/.settings/

# Notes
notes.sh

# Index Pickle Files
/test/testmodel/*.pickle

/venv/*
# Frontend node modules
UI/node_modules/*

data/*

*.pkl
*.pickle

# Store for models and glove
models/
ontomatch/glove/
